/* layout settings */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Состояния и модификаторы для кнопки  */
.button {
  padding: 18px 50px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button_green {
  background-color: #00ca74;
}

.button_green:hover {
  background-color: #00bc6c;
}

.button_green:active {
  background-color: #00aa62;
}

.button_yellow {
  background-color: #efc84a;
}

.button_yellow:hover {
  background-color: #eab534;
}

.button_yellow:active {
  background-color: #e5a722;
}

/* end of layout settings */


/* Header */
.header {
  background-color: #eee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.logo[href]:hover {
  opacity: 0.8;
}

.logo[href]:active {
  opacity: 0.3;
}

.menu {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.menu__item {
  margin-right: 45px;
}

.menu__item:last-child {
  margin-right: 0;
}

/* Состояния ссылок для main-menu и user-menu  */
.menu__link {
  color: black;
}

.menu__link:hover,
.menu__link:focus {
  color: #fb565a;
}

.menu__link:active {
  color: black;
  opacity: 0.3;
}

.menu__link_current {
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}

.menu__link_cart {
  padding-left: 40px;
  position: relative;
}

.menu__link_cart::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url(/img/svg/cart-icon.svg);
  background-repeat: no-repeat;
}

/* Main */
/* Slider */
.slider {
  padding-top: 18px;
  background-color: #eee;
}

.slider__item {
  min-height: 430px;

  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider__item:nth-child(2) {
  background-image: url(/img/slide-bd-iphones.png);
}

.slider__item:nth-child(3) {
  background-image: url(/img/slide-bd-displays.png);
}

.slider__item:nth-child(4) {
  background-image: url(/img/slide-bg-devices.png);
}

.slider__column-wrapper {
  width: 515px;
  padding-top: 67px;
}

.slider__item:nth-child(n+3) {
  display: none;
}

.slider__desc {
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.slider__text {
  line-height: 1.5;
  color: #283136;
}

/* Services */
.services {
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 300px;

  background-repeat: no-repeat;
}

.services__item:nth-child(1) {
  background-image: url(/img/illustration-1.jpg);
}

.services__item:nth-child(2) {
  background-image: url(/img/illustration-2.jpg);
}

.services__item:nth-child(3) {
  background-image: url(/img/illustration-3.jpg);
}

.services__subtitle {
  padding-top: 175px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.services__text {
  padding-right: 20px;
  line-height: 1.5;
  color: #283136;
}

/* About */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.about__column-left {
  padding-right: 150px;
}

.about__title {
  margin: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.about__text {
  line-height: 1.5;
  color: #283136;
}

.about__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.about__item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;

  line-height: 1.5;
  color: #283136;
}

.about__item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about__column-right {
  width: 360px;
}

.table__caption {
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.table__сol-heading {
  margin-right: 25px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #283136;
}

.table__сol-heading:last-child {
  margin-right: 0;
}

.table__body {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

/* Partners */
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 35px;
}

.partners__img {
  opacity: 0.2;
}

.partners__img:hover {
  opacity: 1;
}

.partners__img:active {
  opacity: 0.1;
}

/* Contacts */
.contacts {
  margin-top: 80px;
}

.contacts__map {
  position: relative;
}

.contacts__info {
  position: absolute;
  top: 55px;
  left: 50px;
  padding: 50px;
  background-color: #fff;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__address,
.phone {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

/* Footer */
.socials {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.socials__list {
  display: flex;
  align-items: center;
  margin-right: 140px;
}

.socials__text {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.socials__desc {
  line-height: 22px;
  color: #444444;
}

.socials__item {
  margin-right: 12px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.socials__link:hover {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  opacity: 0.3;
}

/* Страница «МАГАЗИН» */
/* Title */
.title {
  margin: 0;
  padding: 80px 0 115px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  background-color: #eee;
}

/* Filters */
.filters {
  line-height: 1.25;
  color: #283136;
}

.price {
  border: none;
}

.price__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-up {
  width: 10px;
  height: 10px;
  background-image: url(/img/svg/icon-up-dir.svg);
  background-repeat: no-repeat;
  border: none;
}

.button-down {
  width: 10px;
  height: 10px;
  background-image: url(/img/svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  border: none;
}

.range-display {
  color: #283136;
  text-transform: uppercase;
}

.grid {
  border: none;
}

.features {
  border: none;
}

/* Catalog */
.sorting {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link_current {
  color: black;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.description__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.description__text {
  line-height: 18px;
  color: #666666;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: black;
}

.pagination__item {
  margin-right: 10px;
  padding: 15px 20px 15px 20px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item_current {
  background-color: transparent;
  outline: solid 3px #dbdbdb;
}

.pagination__link {
  color: black;
}

.button_grey {
  padding: 0;
  color: black;
  background-color: transparent;
}

/* Modal */
.modal {
  display: none;
}

.write__fieldset {
  border: none;
}