/* layout settings */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Состояния и модификаторы для кнопки  */
.button {
  display: inline-block;
  padding: 16px 54px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button_green {
  background-color: #00ca74;
}

.button_green:hover {
  background-color: #00bc6c;
}

.button_green:active {
  background-color: #00aa62;
}

.button_yellow {
  background-color: #efc84a;
}

.button_yellow:hover {
  background-color: #eab534;
}

.button_yellow:active {
  background-color: #e5a722;
}

.button_grey {
  color: black;
  background-color: #eee;
}

.button_grey:hover {
  background-color: #dfdfdf;
}

.button_grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/* Убирает стрелки у input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* end of layout settings */


/* Header */
.header {
  min-width: 1160px;

  background-color: #eee;
}

.header__main-navigation {
  padding-top: 50px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo[href]:hover {
  opacity: 0.8;
}

.logo[href]:active {
  opacity: 0.3;
}

.menu {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

/* Состояния ссылок для main-menu и user-menu  */
.menu__link {
  display: block;
  padding: 12px 24px;

  color: black;
}


.menu__link:hover,
.menu__link:focus {
  color: #fb565a;
}

.menu__link:active {
  color: black;

  opacity: 0.3;
}

.menu__link_current {
  border-bottom: 2px solid #fb565a;
}

.menu__link_cart {
  position: relative;

  padding-left: 40px;
}

.menu__link_cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7.5px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
}

/* Main */
/* Slider */
.main__slider {
  min-width: 1160px;
  padding-left: calc((100% - 1160px)/2);
  padding-right: calc((100% - 1160px)/2);
}

.slider {
  position: relative;

  background-color: #eee;
}

.slider__item {
  min-height: 430px;

  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider__item_expensive {
  background-image: url("../img/slide-bd-iphones.png");
}

.slider__item_exact {
  background-image: url("../img/slide-bd-displays.png");
}

.slider__item_unique {
  background-image: url("../img/slide-bg-devices.png");
}

.slider__column-wrapper {
  width: 515px;
  padding-top: 67px;
}

.slider__desc {
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.slider__text {
  margin: 28px 0 0 0;
  line-height: 1.5;
  color: #283136;
}

.slider__button {
  margin-top: 40px;
}

.slider__controls {
  position: absolute;
  bottom: 95px;
  left: 46%;
}

.slider__control {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 18px;

  background-color: white;
  border: none;
  border-radius: 50%;
}

.slider__control:last-child {
  margin-right: 0;
}

.slider__control_current::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Services */
.main__services {

  margin-top: 75px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;

  width: 300px;
  margin-right: 100px;
  padding-top: 145px;

  background-repeat: no-repeat;
}

.services__item::before {
  content: "";

  position: absolute;

  width: 300px;
  height: 146px;
}

.services__item_web {
  background-image: url("../img/illustration-1.jpg");
}

.services__item_app {
  background-image: url("../img/illustration-2.jpg");
}

.services__item_ppt {
  margin-right: 0;
  background-image: url("../img/illustration-3.jpg");
}

.services__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.services__text {
  padding-right: 20px;
  margin-top: -5px;

  line-height: 1.5;
  color: #283136;
}

.services__button {
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

/* About */
.main__about {
  margin-top: 40px;
  margin-bottom: 50px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about__info {
  width: 650px;
  margin-right: auto;
}

.about__title {
  margin: 35px 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.about__text {
  line-height: 1.5;
  color: #283136;
}

.about__subtitle {
  margin: 35px 0 25px 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.about__item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;

  line-height: 1.5;
  color: #283136;
}

.about__item::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about__statistics {
  width: 360px;
}

.about__table {
  margin-top: 40px;
}

.table__caption {
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.table__сol-heading {
  margin-right: 25px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #283136;
}

.table__сol-heading:last-child {
  margin-right: 0;
}

.table__body {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

/* Partners */
.main__partners {
  padding: 45px 35px;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__img {
  opacity: 0.2;
}

.partners__img:hover {
  opacity: 1;
}

.partners__img:active {
  opacity: 0.1;
}

/* Contacts */
.main__contacts {
  min-width: 1160px;
  margin-top: 80px;
}

.contacts {
  position: relative;
}

/* Плашка «Адрес» (position: absolute) */
.contacts__info {
  position: absolute;
  top: 55px;
  left: 50px;

  padding: 50px;

  background-color: #fff;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 32px 0 0 0;
}

.contacts__address,
.phone {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.phone {
  margin: 0;
}

.contacts__button {
  margin-top: 35px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Footer */
.footer__socials {
  margin: 70px 0;
}

.socials {
  display: flex;
  align-items: center;
}

.socials__list {
  display: flex;
  align-items: center;
  margin-right: 140px;
}

.socials__text {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.socials__desc {
  line-height: 22px;
  color: #444444;
}

.socials__item {
  margin-right: 12px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  position: relative;

  display: block;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.socials__link::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
}

.socials__link_vk::after {
  width: 26px;
  height: 15px;

  background-image: url(../img/svg/vk-icon.svg);
}

.socials__link_fb::after {
  width: 12px;
  height: 22px;

  background-image: url(../img/svg/fb-icon.svg);
}

.socials__link_insta::after {
  width: 21px;
  height: 21px;

  background-image: url(../img/svg/insta-icon.svg);
}



.socials__link:hover {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  opacity: 0.3;
}

/* Страница «МАГАЗИН» */
/* Title */
.main__title {
  min-width: 1160px;
  margin: 0;
  padding: 80px 0 115px 0;
  background-color: #eee;
}

.title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.main-wrapper {
  display: flex;
  margin-top: 65px;
}

/* Filters */
.main__filter {
  width: 260px;
  margin-right: auto;
}

.filter {
  line-height: 1.25;
  color: #283136;
}

.selection {
  margin: 0;
  padding: 0;

  border: none;
}

.selection_margin-top {
  margin-top: 50px;
}

.selection__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.range {
  width: 260px;
  margin-top: 50px;
}

.range__controls {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  background-color: #eee;
  border-radius: 4px;
}

.range__scale {
  width: 225px;
  height: 2px;

  background-color: #d7dcde;
}

.range__bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range__toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle_min {
  left: 15px;
}

.range__toggle_max {
  left: 160px;
}

.controls {
  margin-top: 14px;

  font-size: 0;
  text-transform: uppercase;
  color: #283136;
}

.controls__label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
}

.controls__label:last-child {
  text-align: right;
}

.controls__input {
  width: 80px;
  padding: 10px 5px;
  margin-left: 10px;


  font-size: 16px;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.selection__list {
  margin-top: 20px;
}

.selector {
  color: #283136;
}

.selector__input {
  margin-right: 10px;
}

.filter-form__button {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Catalog */
/* Сортировка */
.catalog {
  width: 760px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting__name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__list {
  display: flex;
  align-items: center;
}

.sorting__item {
  margin-right: 25px;
}

.sorting__item:last-child {
  margin-right: 0;
}

.sorting__link {
  display: block;

  color: black;

  opacity: 0.3;
}

.sorting__link:hover {
  opacity: 0.6;
}

.sorting__link:active,
.sorting__link_current {
  opacity: 1;
}

.sorting__direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
}

.sorting__item:first-child {
  margin-right: 20px;
}

.link-direction {
  display: block;

  border-right: 5.5px solid transparent;
  border-bottom: 10px solid black;
  border-left: 5.5px solid transparent;
}

.link-direction_down {
  transform: rotate(180deg);
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.catalog__item {
  position: relative;

  width: 360px;
  margin-bottom: 26px;
}

.catalog__item::before {
  content: "";
  
  position: absolute;

  width: 360px;
  height: 40px;

  background-image: url("../img/svg/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog__item:hover::before {
  opacity: 1;
}

.catalog__img {
  padding-top: 40px;
}

.catalog__item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog__item:hover .description {
  display: block;
}

.description {
  position: absolute;
  bottom: 0;

  display: none;
  width: 100%;
  min-height: 231px;
  padding: 35px 65px;

  text-align: center;

  background-color: #eeeeee;
}

.description__title {
  margin: 0;
}

.description__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.description__link:hover {
  color: #fb565a;
}

.description__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.description__text {
  line-height: 18px;
  color: #666666;
}

.description__button {
  padding: 16px 60px;
}

.description__button:active {
  color: white;
}

/* Pagination */
.catalog__pagination {
  margin-top: 60px;
}

.pagination {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: block;
  padding: 15px 20px;

  color: black;

  background-color: #eeeeee;
  border-radius: 4px;
}

.pagination__link_current {
  background-color: white;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination__link_next {
  padding-left: 80px;
  padding-right: 80px;
}

.pagination__link:hover {
  background-color: #dfdfdf;
}

.pagination__link:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Modal */
.modal {
  display: none;
}

.write__fieldset {
  border: none;
}